section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #2b2b2b;
}
section h1 {
	font-family: 'Charmonman', cursive;
	font-size: 32px 
}
section p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}